$primary-color : rgb(0, 128, 128);
$secondary-color: #40e0d0;
$tertiary-color: 	rgb(0, 3, 17);
$quaternary-color: darkblue;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: "Ubuntu Sans", sans-serif;
}
html{
    overflow: hidden ;
}
// Left-menu ----------------------------------------------------------------------------------------------------------------------------------------------------------------------
#menu-body {
    visibility: hidden;
    float: left;
    width: 7vw;
    transition: 0.5s ease-in-out;
    transform: translate(-80%, 50%);
    user-select: none;
    &:hover{
       transform: translate(0%, 50%);
       transition-delay: 50ms;

    }

#main-menu{
    box-shadow:  0px 0px 5px 1px $primary-color;
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 128, 128, 0.15);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: space-evenly;


    

    button {
        all:unset;
        position: relative;
        border-radius: 3px;
        padding: 5px;
        color: $secondary-color;
        text-shadow: 0px 1px 0px black;
       left: 25%;
        cursor:pointer;
    &:hover{
        text-shadow: 0px 1px 3px $primary-color;
        text-decoration: underline;
        transform: scale(1.2);
    }

}
    }

    .active {
        background-color: $quaternary-color;
        color: $primary-color !important;
        box-shadow: 1px 1px 1px 1px $secondary-color;
        background-color: rgba(0, 3, 17, 0.15) !important;
    }
    .menubutton {
        width: 20px;
        position: absolute;
        right: 0%;
        bottom: 50%;
transform: translate(0%, 50%);
    }
}

//Calendar ----------------------------------------------------------------------------------------------------------------------------------------------------------------------


    .calendar-container{
        border-radius: 5px;
        z-index: -1;
        position: absolute;
        height: 100%;
        max-width: 18vw;
        min-width: 18vw;
        top: 0%;
        right: 0%;
        background-color: rgba($tertiary-color, .8);
        box-shadow: 0px 0px 15px 3px $secondary-color;
        transform: translate(105%);
        header{


            display:flex;
            align-items: center;
            padding: 25px 30px 10px;
            justify-content: space-between;
            text-shadow: 1px 1px black;
            .calendar-symbols{
                display: flex;
                span{
                    height: 38px;
                    width: 38px;
                    margin-right: 5px;
                    cursor: pointer;
                    text-align: center;
                    line-height: 38px;
                    font-size: 1.2rem;
                    user-select: none;
                    border-radius: 50%;
                    background-color: rgba($primary-color, 0.5);
                    box-shadow: 0px 0px 2px 3px rgba(117, 117, 117, 0.26);
                    &:last-child{
                        margin-right: -10px;
                    }

                }

            }
            .current-date {

                padding: 5px;
                font-size: 1.2rem;
                background-color: rgba($primary-color, 0.5);
                box-shadow: 0px 0px 2px 3px rgba(117, 117, 117, 0.26);
            }
        }
        .main-calendar {
            height: 70%;

            padding: 20px;
            ul{
                display: flex;
                flex-wrap: wrap;
                text-align: center;
            }
            .days{

                margin-bottom: 20px;

            }
            li {
                color: $primary-color;
               width: calc(100% / 7) ;
            }
            .weeks li {
                cursor: default;
            }
            .days li{

                z-index: 1;
                cursor: default;
                position: relative;
                margin-top: 5vh;
            }
            .days li.inactive{
                color: #4d4d4d
            }
            .days li.active{
                color: $secondary-color;
                font-size: 1.5rem;
                
            }
        }
    }


//Tasks List----------------------------------------------------------------------------------------------------------------------------------------------------------------------

#taskslist-body {
    position: absolute;
    box-shadow: 0px 0px 15px 3px $secondary-color;
    background-color: rgba($tertiary-color, .8);
    color: $secondary-color;
    border: 4px solid $primary-color;
    border-radius: 10px;
    left: 0%;
    height: 55vh;
    width: 50vw;
    opacity: 0;
    scroll-behavior: smooth;
    display: grid; 
    grid-template-columns: 0.6fr 1.4fr; 
    grid-template-rows: 0.9fr 1.1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "form tasklist"
      "date tasklist"
      "subbtn tasklist"; 
        opacity: 0;
    z-index: -1; 
    transform:translate(200%,50%);
    .input {
        margin: 25px;
    }
    &.form{
        grid-area: form;
    }
    &.date {grid-area: date; }
    &.submit-btn{grid-area: subbtn;}
    p{
          
        font-size: 2rem;
     }


     input{

         background-color: $primary-color;
         color: $quaternary-color;
         border: none;
         border-radius: 5px;
         height: 5vh;
         width: 15vw;
         margin-top: 20px;
         padding: 10px;
     }


     #usertext{
        font-size: 1.5rem;
           &:focus{
             outline: none;
             transform: scale(1.05);
             background-color: darken( $secondary-color, $amount: 20%);
           }
     }



     #date-btn{
         text-align: center;
         font-size: 1.5rem;
         cursor: pointer;
         &:focus{
             outline: none;
             transform: scale(1.05);
             background-color: darken( $secondary-color, $amount: 20%);
         }
     }



     #submit-btn {
         cursor: pointer;
         font-size: 1.2rem;
         width: 10vw;
         &:hover{
             transform: scale(1.05);
             background: $secondary-color;
             transition: 0.2s ease-in-out;
             box-shadow: 0px 0px 5px 3px $primary-color;
         }

     }
    #taskslist-title {   
       transform: translate(100%);
        margin-top: 25px;
        text-align: center;
        z-index: -1;
    }
    #taskslist-entry {
        position: relative;
        height: 90%;
        transform: translate(0, 10%);
        grid-area: tasklist;
        margin: 15px 0 0 10px;
        overflow-y: scroll;
        .task{
            margin-top: 20px;
            p{
                word-wrap: break-word;
            }
            #deleteTask {
                float: inline-end;
                margin-right: 80px;
                background-color: $primary-color;
                box-shadow: 0px 0px 5px 1px $secondary-color;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                cursor: pointer;
                &:hover{
                    background-color: $secondary-color;
                }
            }
        }
    }
}


//Notes diary --------------------------------------------------------------------------------------------------------------------------------------------------------------------------

#notes-body {
    position: absolute;
    box-shadow: 0px 0px 15px 3px $secondary-color;
    background-color: rgba($tertiary-color, .8);
    color: $secondary-color;
    border: 4px solid $primary-color;
    border-radius: 10px;
    height: 55vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    z-index: -1; 
    transform:translate(200%,50%);
    aside {
        overflow: scroll;
            width: 65%;
            height: 80%;
        position: inherit;
        left: 35%;
        margin-left: 10px;
        bottom: 0%;
        .hor-trait{
            position: inherit;
            display: block;
            background-color: #40e0d0;
            box-shadow: 0px 0px 5px 3px $secondary-color;
            width: 1px;
            height: 80%;
            top: 5%;
            opacity: 60%;
        }
    #notes-display{

    width: 90%;
    height: 100%;
    margin: 0 30px 30px 30px;

    .note-p {
       font-size: 1.2rem;
       word-wrap: break-word;
    }
    #deleteNote {
        float: inline-end;
        margin-right: 80px;
        background-color: $primary-color;
        box-shadow: 0px 0px 5px 1px $secondary-color;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        cursor: pointer;
        &:hover{
            background-color: $secondary-color;
        }
    }
    }
}
    #notes-title {
        margin: 25px 0 25px 0;
        text-align: center;
    }
    input[type=submit] {
        margin: 10px 0 10px 100px;
       background: $primary-color;
       color: $secondary-color;
        height: 50px;
        width: 150px;
border-radius: 5px;
box-shadow: 1px 1px 1px 1px $secondary-color;
bottom : 0%;
cursor: pointer;
        &:active {
            box-shadow : none;
        }
    }
    #notes-form{
        position: relative;
        font-size: 1.2rem;
        font-weight: 800;
        color: $secondary-color;
        resize:none;
        background-color: $primary-color;
        border: 1px solid;
        border-radius: 5px;
        height: 30vh;
        width: 30%;
        margin-left: 25px;
        bottom: 10%;
}}

@keyframes slidingcontainer{
    0% {
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        transform:translate(100%,50%);
        opacity: 0;
    }
    100% {
        transform: translate(50%,50%);
        opacity: 1;
    }
}


footer{
    position: absolute;
    text-align: center;
    width: 20vw;
    bottom: 0%;
    right:50%;
    transform: translate(50%,0);
    cursor:default;
color: $tertiary-color;
text-shadow: 0px 1px 5px $secondary-color;

 a{
color: inherit;
    text-decoration: underline;
    font-size: 1.2rem;

    &:hover {
        display: inline-block;
color: $secondary-color;
animation: shaking 2s infinite;
    }
 }
}




@keyframes shaking {
        0% { transform: rotate(0deg); };
        25% { transform: rotate(3deg); };
        50% { transform: rotate(0deg); };
        75% { transform: rotate(-3deg); };
        100% { transform: rotate(0deg); };
}




@media screen and (max-width: 768px) {
    html {
        position: fixed;
    }
    #menu-body {

        max-height: 5vh;
width: 100vw;
        left: 20%;
        top: 0%;
        transform: translate(0 , 0);
        &:hover{
            transform:none !important;

        }
        #main-menu {
            width: 100%;
            max-height: 5vh;
            border-radius: 0 0 20px 20px;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}